@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
  --primary: #252c33;
  --secundary: #3a4750;
  --yellow: #f6c90e;
  --white: #eeeeee;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--primary);
  color: var(--white)
}

body::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: var(--primary);
}

body::-webkit-scrollbar{
	width: 10px;
}

body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--yellow);
}

a{
  text-decoration: none;
}

/* Utilidades */

.container{
  max-width: 1200px;
  width: 90%;
  margin: 2rem auto;  
}

.title{
  font-size: 3rem;
  color: var(--yellow);
}

.title-publisher{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--yellow);
}

.btn{
  background: transparent;
  border: none;
  cursor: pointer;
  padding: .3rem 1rem;
  border-radius: 10px;
}

.btn.btn-login{
  background: var(--yellow);
  color: var(--primary);
  font-size: 2rem;
  margin-top: 2rem;
}

.btn-menu{
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--yellow);
  font-size: 2.3rem;
  display: flex;
  align-items: center;
}


/* Layout */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: 1.5rem auto;
  padding: 1.5rem;
  border-radius: 20px;
  background: var(--secundary);
}

.oculta{
  display: none;
}

.navbar a, button{
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0 .6rem;
  border-radius: 10px;
}

.navbar .btn-logout{
  border: none;
  cursor: pointer;
  background: var(--primary);
  padding: .3rem .8rem;
  border-radius: 10px;
}

.navbar__options a{
  margin-right: 1rem;
}

.navbar__options a:nth-last-of-type(1){
  margin-right: 0;
}

.navbar__options .active{
  background: var(--yellow);
  padding: .3rem .6rem;
  border-radius: 10px;
  color: var(--primary);
}

.user{
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 1rem;
}

/* heroes-container */

.heroes-container{
  display: grid;
  gap: 3rem;
}

@media (min-width:768px){
  .heroes-container{
    grid-template-columns: repeat(4, 1fr);
  }
}
/* hero-card */

.hero-card{
  list-style: none;
  background: var(--secundary);
  padding: 2rem;
  display: block;
  border-radius: 10px;
  transition: .1s all ease-in-out;
  position: relative;
  border: 1.5px solid var(--yellow);
}

.hero-card__img{
  width: 100%;
  border-radius: 10px;
}

.hero-card:hover{
  transform: translateY(-10px);
  filter: blur(0);
}

@media (min-width:768px){
  .hero-card{
    filter: blur(2px);
  }
  .hero-card:hover{ 
    filter: blur(0);
  }
}

.name{
  margin-top: .5rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--yellow)
}
